.create{
    margin-left: auto;
    display: flex;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3{
    margin: 1rem;
    font-weight: 350;
}