


<mat-tab-group *ngIf="token ; else loading"  animationDuration="0ms">

    <mat-tab label="Docker Compose">



        <pre>
            <code [highlight]="docker_code[0] + token+ docker_code[1]"></code>
          </pre>
    </mat-tab>


    <mat-tab label="Auth Token">

        <mat-form-field fxFlex class="example-form-field">
            <input disabled matInput type="text" [(ngModel)]="token">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>content_copy</mat-icon>

            </button>
        </mat-form-field>
    </mat-tab>


    <mat-tab label="Mac OSX">
        <pre>
            <code [highlight]="code"></code>
          </pre>
    </mat-tab>

    <mat-tab label="Linux">
        <pre>
            <code [highlight]="code"></code>
          </pre>
    </mat-tab>

    <mat-tab label="Docker">
        <pre>
            <code [highlight]="code"></code>
          </pre>
    </mat-tab>

    <mat-tab label="Windows">
        <pre>
            <code [highlight]="code"></code>
          </pre>
    </mat-tab>



</mat-tab-group>


<ng-template #loading>

    <div class="loader" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner diameter="50" size="small"></mat-spinner>
    </div>
  
  
  
  </ng-template>