<div>
    <mat-form-field fxFlex class="example-form-field">
        <input disabled matInput type="text" [(ngModel)]="token">
        <button (click)="copyMessage(token)" mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>content_copy</mat-icon>

        </button>
    </mat-form-field>

</div>


<mat-tab-group *ngIf="token ; else loading" animationDuration="0ms">



    <mat-tab class="tab" label="Docker Compose">
        <pre>
            <code  [innerHTML]="docker_code[0] + token"></code>
        </pre>
        <div>
            <button mat-raised-button (click)="copyMessage(code)">Copy</button>

        </div>
    </mat-tab>

    <mat-tab class="tab" label="Linux">
        <pre>
            <code [innerHTML]="binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] + binary_code[3] +  token "></code>
        </pre>

        <div>
            <a class="link" target="_blank" href="/download/linux/x64/blazetunnel" mat-raised-button
                color="primary">x64</a>
            <a class="link" primary="_blank" href="/download/linux/x86/blazetunnel" mat-raised-button
                color="accent">x86</a>
            <a mat-raised-button
                (click)="copyMessage(  binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] + binary_code[3] +  token   )">Copy</a>


        </div>

    </mat-tab>



    <mat-tab label="Windows">
        <pre>
            <code [innerHTML]="binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] "></code>
        </pre>
        <a class="link" target="_blank" href="/download/windows/x64/blazetunnel.exe" mat-raised-button
            color="primary">x64</a>
        <a class="link" target="_blank" href="/download/windows/x86/blazetunnel.exe" mat-raised-button
            color="accent">x86</a>

        <a mat-raised-button
            (click)="copyMessage(  binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] + binary_code[3] +  token   )">Copy</a>


    </mat-tab>


    <mat-tab label="Mac OSX">




        <pre>
            <code [innerHTML]="binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] "></code>
        </pre>

        <a class="link" target="_blank" href="/download/mac/x64/blazetunnel" mat-raised-button color="primary">x64</a>
        <a class="link" target="_blank" href="/download/mac/x86/blazetunnel" mat-raised-button color="accent">x86</a>
        <a mat-raised-button
            (click)="copyMessage(  binary_code[0]  + app_name +  binary_code[1]  +  service_name + binary_code[2] + binary_code[3] +  token   )">Copy</a>



    </mat-tab>


</mat-tab-group>


<ng-template #loading>

    <div class="loader" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner diameter="50" size="small"></mat-spinner>
    </div>



</ng-template>