<mat-card class="example-card" *ngIf="authService.userData as user ; else loading">
  <mat-card-header>
    <div [ngStyle]="{'background-image': 'url(' + user.photoURL  + ')'   } " mat-card-avatar
      class="example-header-image"></div>
    <!-- {{'background-image': 'url(' + user.photoURL  + ')' }} -->

    <mat-card-title>
      {{(user.displayName) ? user.displayName : 'User'}}

    </mat-card-title>
    <mat-card-subtitle>Blazetunel: @BetaUser</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>

    <mat-form-field fxFlex>
      <mat-label>Name</mat-label>
      <input fxFlex disabled [value]="user.displayName" matInput placeholder="Placeholder">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>

    <mat-form-field fxFlex >
      <mat-label>Email</mat-label>
      <input disabled [value]="user.email" matInput placeholder="Placeholder">
      <!-- 
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
      -->
      <!--
        <mat-hint>Hint</mat-hint> 
      -->
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions  >
    <button fxFlex color="secondary" class="right" disabled mat-raised-button>Save</button>
  </mat-card-actions>

</mat-card>



<ng-template #loading>

  <mat-card class="example-card">

    <mat-card-content>
      <div class="loader" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner diameter="50" size="small"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>





</ng-template>