.flex{
    display: flex;
    flex: 1;
}

.create{

    margin-left: auto;
    display: flex;
    // margin-left: 1rem;
    // margin-right: 1rem;
}
.item{
    display: flex;
    float: 1;
}
.right{
    margin-left: auto;
}

:host ::ng-deep .mat-list-item-content  {

    width: 100%;
}



.divider{
    margin: 1rem;
}

mat-list{ 
    max-height: 300px;
    overflow: auto;
}

.textbtn{
    text-align: left;
}

.loader{
    margin: 1rem;
}

.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.create{
    margin-left: auto;
    display: flex;
    text-align: center;
}

