<mat-accordion>



    <ng-container *ngIf="applications ;  else loading">

        <mat-expansion-panel (opened)="opened(app.id)" (opened)="closed(app.id)" *ngFor="let app of applications "
            hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title fxLayout="column" fxLayoutAlign="center start">
                    <button mat-button>
                        {{app.app_name  }}
                    </button>
                </mat-panel-title>

                <mat-panel-description fxLayout="column" fxLayoutAlign="center end">

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-slide-toggle (click)="$event.stopPropagation();" labelPosition="before">
                        </mat-slide-toggle>

                        <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>


                        <mat-menu #menu="matMenu">
                            <button (click)="delete(app.id)" mat-menu-item>Delete</button>

                        </mat-menu>
                    </div>


                </mat-panel-description>

            </mat-expansion-panel-header>





            <div fxFlex fxLayout="column" fxGap="1rem">


                <ng-container *ngIf=" serviceList$ | async as services  ; else loading ">

                    <mat-toolbar>



                        <input placeholder="Create Service" #service matInput type="text"
                            (keyup.enter)="create_service(app.id,  service.value)">




                        <button mat-button>Create new</button>



                    </mat-toolbar>






                    <ng-container *ngIf="services">

                        <mat-list *ngIf="services.length > 0" class="list">
                            <div mat-subheader>Services</div>

                            <ng-container>




                                <mat-list-item class=" item" *ngFor="let data of services ">

                                    <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                                    <div mat-line>
                                        <button mat-button>
                                            {{data?.service_name}}
                                        </button>



                                    </div>

                                    <mat-slide-toggle [checked]="data?.enabled || false"
                                        (change)="enableService(app.id, data.id , $event.checked)" class="right"
                                        labelPosition="before">
                                    </mat-slide-toggle>

                                    <button (click)="$event.stopPropagation();" mat-icon-button
                                        [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button (click)="deleteService( app.id, data.id  )"
                                            mat-menu-item>Delete</button>

                                    </mat-menu>


                                </mat-list-item>

                            </ng-container>
                        </mat-list>

                    </ng-container>



                </ng-container>

            </div>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>

<ng-template #loading>

    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>



</ng-template>