<mat-accordion>



    <ng-container *ngIf="applications ;  else loading">

        <ng-container *ngIf="applications.length == 0 ; else applist">


            <mat-card class="card">


                <mat-card-content>

                    <div fxFlex fxLayoutAlign="center">
                        <h3>
                            No Applications found
                        </h3>
                    </div>

                </mat-card-content>
                <mat-card-actions class="center">

                    <button fxFlex fxLayoutAlign="center" (click)="openAppCreationDialog()" class="create"
                        color="primary" mat-raised-button>Create
                        new application</button>

                </mat-card-actions>
            </mat-card>

        </ng-container>

        <ng-template #applist>


            <mat-expansion-panel (opened)="opened(app.id)" (opened)="closed(app.id)" *ngFor="let app of applications "
                hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="column" fxLayoutAlign="center start">

                        {{app.app_name  }}

                    </mat-panel-title>

                    <mat-panel-description fxLayout="column" fxLayoutAlign="center end">

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <!-- <mat-slide-toggle (change)="enableApp(app.id , $event.checked)"
                                [checked]="app?.enabled || false" (click)="$event.stopPropagation();"
                                labelPosition="before">
                            </mat-slide-toggle> -->

                            <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>


                            <mat-menu #menu="matMenu">
                                <button (click)="delete(app.id)" mat-menu-item>Delete</button>

                            </mat-menu>
                        </div>


                    </mat-panel-description>

                </mat-expansion-panel-header>








                <button (click)="openServiceCreationDialog(app)" class="create" color="accent" mat-raised-button>Create
                    service</button>


                <ng-container *ngIf=" serviceList$ | async as services  ; else loading ">


                    <ng-template #noservice>


                        <mat-card-content>

                            <div fxFlex fxLayoutAlign="center">
                                <h3>
                                    No Services found
                                </h3>
                            </div>

                        </mat-card-content>

                        <mat-card-actions class="center">

                            <button fxFlex fxLayoutAlign="center" (click)="openServiceCreationDialog(app)"
                                class="create" color="primary" mat-raised-button>Create
                                new service</button>

                        </mat-card-actions>

                    </ng-template>


                    <ng-container *ngIf="services && services.length > 0 ; else noservice">



                        <div fxLayout="row" mat-subheader>Services</div>



                        <div fxLayout="row" *ngFor="let data of services ">




                            <button fxFlex
                                (click)="openServiceDetailDialog(  app.id , data.id , app.app_name , data.service_name ) ; $event.stopPropagation();"
                                mat-button>
                                {{data?.service_name}}-{{app?.app_name}}.blazetunnel.meddler.xyz
                            </button>


                            <a target="_blank"
                                [routerLink]="'//' + data?.service_name +   app?.app_name + '-' + '.blazetunnel.meddler.xyz'"
                                mat-icon-button>
                                <mat-icon>north_east</mat-icon>
                        </a>



                            <button (click)="$event.stopPropagation();" mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #menu="matMenu">
                                <button (click)="deleteService( app.id, data.id  )" mat-menu-item>Delete</button>

                                <button (click)="deleteService( app.id, data.id  )" mat-menu-item>Export</button>

                            </mat-menu>







                        </div>







                    </ng-container>



                </ng-container>







            </mat-expansion-panel>
        </ng-template>

    </ng-container>
</mat-accordion>

<ng-template #loading>

    <div fxLayout="column" diameter="50" class="loader" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>



</ng-template>