<mat-drawer-container fxFlexFill>


  <mat-toolbar>
    <mat-toolbar-row>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Blazetunnel</span>
    </mat-toolbar-row>


  </mat-toolbar>

  <mat-drawer  #sidenav [opened]="false" #drawer class="example-sidenav" mode="push">


    <mat-toolbar color="accent">


      <mat-toolbar-row *ngIf="authService.userData as user ; else loading">

        <div [ngStyle]="{'background-image': 'url(' + user.photoURL  + ')'   } " mat-card-avatar
          class="example-header-image"></div>

        <span class="name">
          {{(user.displayName) ? user.displayName : 'User'}}


        </span>

      </mat-toolbar-row>


    </mat-toolbar>




    <mat-nav-list>




      <ng-container *ngIf="authService.userDataSubject | async  as user ; else  menuNotLoggedIn">
        <!-- If Logged In -->

        <div mat-subheader>Dashboard</div>

        <mat-divider></mat-divider>




        <mat-list-item (click)="sidenav.close()" [routerLink]="folder?.route" *ngFor="let folder of folders">
          <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
          <div mat-line>{{folder.name}}</div>
          <!-- <div mat-line> {{folder.description | date}} </div> -->
        </mat-list-item>
        <div *ngIf="applications ; else loading" mat-subheader>Applications</div>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.close()"  routerLink="/application">

          <div routerLink="/sign-in" mat-line>Application</div>

        </mat-list-item>

        <mat-divider></mat-divider>



        <mat-list-item (click)="sidenav.close()"   *ngFor="let app of applications">
          <div mat-line>{{app.app_name}}</div>
        </mat-list-item>



        <mat-list-item  (click)="sidenav.close()"  (click)="authService.SignOut()">

          <div mat-line>Sign Out</div>

        </mat-list-item>

      </ng-container>

      <ng-template #menuNotLoggedIn>
        <!-- If Logged Out -->

        <mat-divider></mat-divider>


        <mat-list-item (click)="sidenav.close()"  (click)="authService.SignOut()">

          <div routerLink="/sign-in" mat-line>Sign In</div>

        </mat-list-item>


      </ng-template>


    </mat-nav-list>

  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="center" fxFlex="60%" fxFlex.lt-md="800" fxFlex.lt-lg="80%" fxFlexAlign="center ">
      <router-outlet></router-outlet>

    </div>

  </div>

</mat-drawer-container>

<ng-template #loading>

  <div class="loader" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner diameter="50" size="small"></mat-spinner>
  </div>



</ng-template>