<mat-drawer-container fxFlexFill>


  <mat-toolbar>
    <mat-toolbar-row>


      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Blazetunnel</span>



    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">


    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item [routerLink]="folder?.route" *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <!-- <div mat-line> {{folder.description | date}} </div> -->
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Notes</div>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.description | date}} </div>
      </mat-list-item>
    </mat-list>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>