<mat-toolbar>

  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Blazetunnel</span>
  </mat-toolbar-row>


</mat-toolbar>
<mat-drawer-container fxFlexFill>


  <mat-drawer #sidenav [opened]="false" #drawer class="example-sidenav" mode="side">


    <mat-toolbar color="accent">


      <mat-toolbar-row class="padded" *ngIf="authService.userDataSubject | async   as user ; ">

        <div [ngStyle]="{'background-image': 'url(' + user.photoURL  + ')'   } " mat-card-avatar
          class="example-header-image"></div>

        <span fxFlex class="name">
          {{(user.displayName) ? user.displayName : 'User'}}
        </span>

      </mat-toolbar-row>


      <ng-template #loading>


        <mat-toolbar-row class="padded" *ngIf=" loading">

          <div mat-card-avatar class="example-header-image"></div>

          <span fxFlex class="name">
            BlazeTunnel


          </span>

          <div class="loader" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner diameter="50" size="small"></mat-spinner>
          </div>


        </mat-toolbar-row>
      </ng-template>


    </mat-toolbar>




    <mat-nav-list>




      <ng-container *ngIf="authService.userDataSubject | async  as user ; else  menuNotLoggedIn">
        <!-- If Logged In -->










        <mat-list-item (click)="sidenav.close()" routerLink="/application">

          <div routerLink="/sign-in" mat-line>
            <b>Application</b></div>

        </mat-list-item>



        <mat-list-item (click)="sidenav.close()" [routerLink]="folder?.route" *ngFor="let folder of folders">
          <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
          <div mat-line>
            <b>
              {{folder.name}}
            </b>
          </div>
          <!-- <div mat-line> {{folder.description | date}} </div> -->
        </mat-list-item>





        <!-- <mat-list-item (click)="sidenav.close()" *ngFor="let app of applications">
          <div mat-line>{{app.app_name}}</div>
        </mat-list-item> -->





      </ng-container>

      <mat-divider></mat-divider>


      <a target="_blank" mat-list-item (click)="sidenav.close()" href="//meddler.xyz/news/">

        <div mat-line><b>News</b></div>

      </a>

      <a target="_blank" mat-list-item (click)="sidenav.close()" href="//meddler.xyz/products/">

        <div mat-line><b>Products</b></div>

      </a>

      <a target="_blank" mat-list-item (click)="sidenav.close()" href="//meddler.xyz/connect/">

        <div mat-line><b>Contact Us</b></div>

      </a>

      <a target="_blank" mat-list-item (click)="sidenav.close()" href="//meddler.xyz">

        <div mat-line><b>@meddler.xyz </b></div>

      </a>



      <mat-list-item *ngIf="(authService.userDataSubject | async  ) " (click)="sidenav.close()"
        (click)="authService.SignOut()">


        <div mat-line>
          <b>
            Sign Out
          </b>
        </div>

      </mat-list-item>

      <ng-template #menuNotLoggedIn>
        <!-- If Logged Out -->

        <mat-divider></mat-divider>


        <mat-list-item (click)="sidenav.close()" (click)="authService.SignOut()">

          <div routerLink="/sign-in" mat-line><b>Sign In</b></div>

        </mat-list-item>


      </ng-template>


    </mat-nav-list>

  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="center" fxFlex="60%" fxFlex.lt-md="800" fxFlex.lt-lg="80%" fxFlexAlign="center ">
      <router-outlet></router-outlet>

    </div>

  </div>

</mat-drawer-container>

<ng-template #loading>

  <div class="loader" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner diameter="50" size="small"></mat-spinner>
  </div>



</ng-template>