<mat-card>
  <mat-card-header>
    <h2 r>Login</h2>

  </mat-card-header>

  <mat-card-content mat-subheader>




    <mat-form-field  fxFlex>
      <mat-label>Username</mat-label>
      <input #userName matInput>
    </mat-form-field>

  </mat-card-content>
  <mat-card-content mat-subheader>

    <mat-form-field fxFlex>
      <mat-label>Password</mat-label>
      <input #userPassword matInput type="password">

    </mat-form-field>

  </mat-card-content>
  <mat-card-content >

    <button color="accent" fxFlex mat-raised-button (click)="authService.SignIn(userName.value, userPassword.value)">
      Log in
    </button>


  </mat-card-content>
  <mat-card-content>

    <mat-divider></mat-divider>
  </mat-card-content>


  <mat-card-content>

    <button color="primary" fxFlex mat-raised-button (click)="authService.GoogleAuth()">
      Log in with Google
    </button>

  </mat-card-content>


</mat-card>