<div mat-header>
    <h2>
        What is BlazeTunnel?
    </h2>
</div>
<div mat-header>


    <h3 fxFlex mat-line>
        Blazetunnel creates a secured tunnel(s) between your local machine(s) & a dedicated server.
        This tunnel can be used expose your local service to the public on the internet.
    </h3>

</div>


<div mat-header>
    <h2>
        Is it production ready
    </h2>
</div>
<div mat-header>


    <h3 fxFlex mat-line>
        Blazetunnel is production ready.
    </h3>

</div>

<div mat-header>
    <h2>
        Why blazetunnel ?
    </h2>
</div>
<div mat-header fxLayout="column">


    <h3 fxFlex mat-line>
        1. Collaborative development & testing
    </h3>
    <h3 fxFlex mat-line>

        2. Showcase your portfolio to the client
    </h3>
    <h3 fxFlex mat-line>
        3. You own a high-end machine, and want to utilise it's CPU , GPU remotely (Video Rendering, ML, AI, etc.)
    </h3>
    <h3 fxFlex mat-line>
        4. Dont't want to pay for expesive spec server, and create your own cloud
    </h3>
    <h3 fxFlex mat-line>
        5. Bypass firewall rules (imposed by ISP, organization, etc.) to expose your webservice
    </h3>
    <h3 fxFlex mat-line>
        6. Create your own on-the-go-lab
    </h3>
    <h3 fxFlex mat-line>
        7. Have your own intranet available on the internet
    </h3>


</div>